body {
    background-color: antiquewhite;}

h1 {
    color:#5c3c22;}
p {
    color:#c46e25 ;}
    li {
        background-color:blanchedalmond;
    }
    img {
        width: 100%;
        height: auto;
      }